@media(max-width: 992px){
    .flex-conteiner{
        flex-direction: column;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .apresentacao .texto-apresentacao{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
    }

    #quem-somos img{
        min-width: 320px;
        margin: auto;
    }

    .list-servicos{
        flex-direction: column;
    }

    .item-servico img{
        width: 50%;
        margin: auto;
    }

    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 20px;
    }

    .list-planos .item-plano{
        max-width: 90%;
        margin: auto;
        width: 100%;
        padding-bottom: 20px;
    }
}